ECHO is on.

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# IDE files
.idea/
*.iml
.vscode/
